@model TesteGol.Models.Airplane

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Airplane</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QtdPassengers)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QtdPassengers)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Model.CreationDate.ToString("dd/MM/yyyy")
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
